.opacity5 {
  opacity: .5;
  transition: opacity .15s;
}

.closeSection + .subSection {
  display: none!important;
}

.openSection + .subSection {
  display: block!important;
}

.focused {
  border: 1px solid blue;
}

.subSection {
  user-select: none;
}
